:root {
    /* Кольори */
    --colorWhite: #FFFFFF;
    --colorBlue: #2196F3;
    --colorBlack: #212121;
    --colorLightGrey: #757575;
    --colorDarkGrey: #2F303A;
    --colorDarkWhite: #F5F4FA;
    --colorLightWhite: #ECECEC;
    --colorOffersBorder: #EEEEEE;
    /* Шрифти */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


/* Загальне */
body {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: var(--colorWhite);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--colorLightWhite);
}
.flex {
    display: flex;
    column-gap: 344px;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    column-gap: 93px;
    align-items: center;
}
.nav-logotype {
    display: flex;
}
.nav-logo {
    color: var(--colorBlue);
    font-family: var(--second-family);
    font-size: 26px;
}
.header-logo {
    color: var(--colorBlack);
}
.nav-list {
    display: flex;
    column-gap: 50px;
}
.nav-list-pages {
    color: var(--colorBlack);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-list-pages:hover,
.nav-list-pages:focus {
    color: var(--colorBlue);
}
.header-contacts {
    display: flex;
    column-gap: 50px;
}
.contacts-link-info {
    color: var(--colorLightGrey);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.contacts-link-info:hover,
.contacts-link-info:focus {
    color: var(--colorBlue);
}
.section {
    background-color: var(--colorWhite);
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer {
    background-color: var(--colorDarkGrey);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link {
    display: flex;
    margin-bottom: 20px;
    
}
.footer-logo {
    color: var(--colorWhite);
    font-family: var(--second-family);
    font-size: 26px;
}
.address-item:nth-child(2) {
    margin-top: 9px;
    margin-bottom: 9px;
}
.address-post {
    color: var(--colorWhite);
    font-weight: 400;
    line-height: 1.71;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.address-email, .address-phone {
    color: var(--colorLightGrey);
    font-weight: 400;
    line-height: 1.71;
}


/* Сторінка Студіо */
.heroSection {
    background-color: var(--colorDarkGrey);
    padding-top: 200px;
    padding-bottom: 200px;
}
.title {
    color: var(--colorWhite);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.heroSection-button {
    background-color: var(--colorBlue); 
    color: var(--colorWhite);
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.headding {
    color: var(--colorBlack);
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.features-list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
}
.features-title {
    color: var(--colorBlack);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features-text {
    color: var(--colorLightGrey);
    font-weight: 400;
    line-height: 1.71;
}
.services {
    display: flex;
    column-gap: 30px;
}
.team {
    background-color: var(--colorDarkWhite);
}
.team-list {
    display: flex;
    column-gap: 30px;
}
.team-item {
    background-color: var(--colorWhite);
}
.team-title {
    color: var(--colorBlack);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-text {
    color: var(--colorLightGrey);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
/* Сторінка Портфоліо */
.buttons-list {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.button {
    background-color: var(--colorDarkWhite);
    color: var(--colorBlack);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    padding: 6px 22px;
}
.button:hover,
.button:focus  {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}
.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}
.offers-title {
    color: var(--colorBlack);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
}
.offers-text {
    color: var(--colorLightGrey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 20px;
}